body {
    margin: 0px;
    padding: 0px;
    font-family: Calibri, sans-serif;
    background-color: #fff;
}

header {
    position: fixed;
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 2em;
    z-index: 10;
    background-color: #999;
}
header a {
    text-decoration: none;
    color: currentcolor;
}
header a:hover {
    background-color: #ccc;
}
#loginName {
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: 5px;
    right: 5px;
}
nav ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    margin-top: 5px;
}
nav ul li {
    display: inline;
}
nav .internal_link {
    font-style: oblique;
    color: #555;
}
h1:first-child {
    margin-top: 2em;
}
