<!doctype html>
<head>
  <title>Metadata Server Admin</title>
  <link href='/static/jquery.dataTables.css' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.1/pure-min.css">
</head>
<body>
<header>
</header>
<h1>Package listing</h1>
<div id="package-listing"></div>
<h1>Media listing</h1>
<div id="media-listing"></div>

<script type="text/javascript" src="/static/underscore.js"></script>
<script type="text/javascript" src="/static/jquery.min.js"></script>
<script type="text/javascript" src="/static/jquery.restAdmin.js"></script>
<script type="text/javascript" src="/static/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    $(function() {
        var table_init_count = 0;
        $('#media-listing').restAdmin({
            url: '/api/media',
            schema: [
                {
                    name: "id",
                    type: "text",
                    label: "id",
                    unique: true,
                    required: true,
                    readOnly: true
                },
                {
                    name: "url",
                    type: "text",
                    label: "url",
                    unique: false,
                    required: true
                },
                {
                    name: "meta.dc:title",
                    type: "text",
                    label: "Title"
                },
                {
                    name: "meta.dc:duration",
                    type: "text",
                    label: "duration"
                },
                {
                    name: "unit",
                    type: "select",
                    label: "unit",
                    defaultValue: "ms",
                    choices: [ { label: "ms", value: "ms" } ]
                },
                {
                    name: "meta.dc:description",
                    type: "text",
                    label: "description"
                },
                {
                    name: "meta.dc:creator",
                    type: "text",
                    label: "creator"
                },
                {
                    name: "meta.dc:created",
                    type: "text",
                    label: "created"
                },
                {
                    name: "meta.dc:contributor",
                    type: "text",
                    label: "contributor"
                },
                {
                    name: "meta.dc:modified",
                    type: "text",
                    label: "modified"
                }
            ]
        });
        $('#package-listing').restAdmin({
            url: '/api/meta',
            schema: [
                {
                    name: "id",
                    type: "text",
                    label: "id",
                    unique: true,
                    required: true,
                    readOnly: true
                },
                {
                    name: "dc:title",
                    type: "text",
                    label: "Title"
                },
                {
                    name: "dc:description",
                    type: "text",
                    label: "description"
                },
                {
                    name: "main_media.id-ref",
                    type: "text",
                    label: "main media"
                },
                {
                    name: "dc:creator",
                    type: "text",
                    label: "creator"
                },
                {
                    name: "dc:created",
                    type: "text",
                    label: "created"
                },
                {
                    name: "dc:contributor",
                    type: "text",
                    label: "contributor"
                },
                {
                    name: "dc:modified",
                    type: "text",
                    label: "modified"
                }
            ]
        });

        $(document).on('jraRefreshedList', function () {
            table_init_count = table_init_count + 1;
            console.log(table_init_count);
            if (table_init_count > 1) {
                $("table").dataTable({
                    "bPaginate": false,
                    "bLengthChange": false,
                    "iDisplayLength": 100,
                    "bFilter": true,
                    "bSort": true,
                    "bInfo": true,
                    "bAutoWidth": true });
                table_init_count = 0;
            };
        });

    });


</script>

</body>
