<!doctype html>
<head>
  <title>Metadata Server</title>
  <style type="text/css">
    header {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #999;
    }
    #loginName {
    position: absolute;
    top: 5px;
    right: 5px;
    }
  </style>
</head>
<body>
<header>
  {% if userinfo %}
  <p id="loginName">{{ userinfo.login }}</p>
  {% endif %}
</header>
<h1>Server index</h1>
<ul>
  <li><a href="package/">Package listing</a></li>
  <li><a href="admin/">Admin interface</a></li>
</ul>
</body>

