<!doctype html>
<head>
  <title>Metadata Server</title>
  <link href='static/metaserver.css' rel='stylesheet' type='text/css'>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="#">Index</a></li>
        <li><a href="package/">Packages</a></li>
        <li><a href="admin/">Admin</a></li>
      </ul>
    </nav>
  {% if userinfo %}
  <p id="loginName">{{ userinfo.login }}</p>
  {% endif %}
</header>
<h1>Server index</h1>
<ul>
  <li><a href="package/">Package listing</a></li>
  <li><a href="admin/">Admin interface</a></li>
</ul>
</body>

