<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <link href='../static/metaserver.css' rel='stylesheet' type='text/css'>
        <title>Available packages</title>
    </head>

    <body>
      <header>
      <nav>
        <ul>
          <li><a href="../">Index</a></li>
          <li><a href="../package/">Packages</a></li>
          <li><a href="../admin/">Admin</a></li>
        </ul>
      </nav>
      </header>

      <h1>Available packages</h1>
      <ul>
        {% for p in packages %}
        <li><a href="/package/{{ p.id }}">{{ p.dc_title }}</a> - {{ p.annotations|length }} annotation(s) - media <a href="{{ p.main_media.url }}">{{ p.main_media.meta.dc_title }}</a>
        {% else %}
        <li>No package</li>
        {% endfor %}
      </ul>
    </body>
</html>
